<p id="notice"><%= notice %></p>

<!-- <a href="#">Главная</a> -->
<%#= link_to 'Энциклопедия', articles_path %>
<%#= link_to 'Проекты', projects_path %>
<%#= link_to 'О нас', about_index_path %>
<%#= link_to 'Сотрудничество', new_cooperation_path(@cooperation) %>

<%= render 'elements/menu' %>

<div class="S_ArticleCompilation">
  <div class="M_ProjectLayoutHT">
    <h1 class="A_ArticleLayoutHeader">BROWSE THE NET AND GET RESULTS</h1>
    <p class="A_ArticleLayoutText">Being a catalyst for innovation, exploring new sustainable solutions or developing a new brand. Below you find a selection of work which manifest our philosophy Simplify to Clarify.</p>
  </div>

  <div class="O_ArticleGrid">
    <% @articles.each do |article| %>

    <div class="">
      <%= link_to article do %>

      <div class="M_ArticleCard">
        <div class="A_ArticleCover">
          <% if article.cover.present? %>
          <div class="wide">
            <p class="A_ArticleHeader"><%= article.head %></p>
            <p class="A_ArticleLead"><%= article.lead %></p>
              <%= image_tag article.cover.article_preview.url %>
          </div>
          <% else %>
          <div class="square">
            <p class="A_ArticleHeader"><%= article.head %></p>
              <%= image_tag article.squarecover.article_preview_quite_square .url%>
            </div>
          <% end %>
        </div>
      </div>

        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_article_path(article) %>
        <% end %>
      <% end %>
    </div>

    <% end %></div>
  <br>

  <%= render 'elements/footer' %>
  </div>
