<p id="notice"><%= notice %></p>

<a href="#">Главная</a>
<%= link_to 'Энциклопедия', articles_path %>
<%= link_to 'Проекты', projects_path %>
<%= link_to 'О нас', about_index_path %>
<%= link_to 'Сотрудничество', new_cooperation_path(@cooperation) %>

<h1>Энциклопедия</h1>

<% @articles.each do |article| %>

<div class="">
  <%= link_to article do %>
    <% number = [1, 2].sample %>

    <% if number == 1 %>
      <%= image_tag article.cover.article_preview.url %>
    <% else %>
      <%= image_tag article.squarecover.url(:article_preview_small)%>
    <% end %>
  <% end %>

  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_article_path(article) %>
  <% end %>
</div>

<% end %>
<br>
