<p id="notice"><%= notice %></p>

<p>
  <!-- <strong>Head:</strong> -->
  <%= @article.head %>
</p>

<p>
  <!-- <strong>Lead:</strong> -->
  <%= @article.lead %>
</p>

<p>
  <strong>Авторы:</strong>
  <%= @article.author %>
</p>

<p>
  <!-- <strong>Description:</strong> -->
  <%= @article.description %>
</p>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

<%= link_to 'Back', pages_path %>
