<%= form_with(model: cooperation, local: true) do |form| %>
  <% if cooperation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cooperation.errors.count, "error") %> prohibited this cooperation from being saved:</h2>

      <ul>
        <% cooperation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :company, placeholder: 'Название компании / представителя' %>
  </div>

  <div class="field">
    <%= form.text_field :email, placeholder: 'E-mail' %>
  </div>

  <p class="restriction">Нажимая на кнопку «Далее», вы даете согласие <br> на обработку персональных данных</p>

  <div class="actions">
    <%= form.submit 'ДАЛЕЕ'%>
  </div>
<% end %>
