<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @page.type %>
</p>

<p>
  <strong>Head:</strong>
  <%= @page.head %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @page.lead %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @page.tag %>
</p>

<p>
  <strong>Author:</strong>
  <%= @page.author %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @page.cover.url || ""%>
</p>

<p>
  <strong>Squarecover:</strong>
  <%= image_tag @page.squarecover.url || "" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Share:</strong>
  <%= @page.share %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
