<p id="notice"><%= notice %></p>

<a href="#">Главная</a>
<%= link_to 'Энциклопедия', articles_path %>
<%= link_to 'Проекты', projects_path %>
<%= link_to 'О нас', about_index_path %>
<%= link_to 'Сотрудничество', new_cooperation_path(@cooperation) %>

<h1>Проекты</h1>

<% @projects.each do |project| %>

<div class="">
  <%= project.type %>
  <%= project.head %>
  <%= project.tag %>

  <% if number == 1 %>
    <%= image_tag project.cover.url, width: 200 %>
  <% else %>
    <%= image_tag project.squarecover.url, width: 100 %>
  <% end %>

  <%= link_to 'Show', project %>
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_page_path(project) %>
  <% end %>
</div>

<% end %>
<br>
