<p id="notice"><%= notice %></p>

<p>
  <!-- <strong>Head:</strong> -->
  <%= @project.head %>
</p>

<p>
  <!-- <strong>Lead:</strong> -->
  <%= @project.lead %>
</p>

<p>
  <!-- <strong>Tag:</strong> -->
  <%= @project.tag %>
</p>

<p>
  <strong>Авторы:</strong>
  <%= @project.author %>
</p>

<p>
  <!-- <strong>Cover:</strong> -->
  <%= image_tag @project.cover.url(:project) %>
</p>

<p>
  <!-- <strong>Description:</strong> -->
  <%= @project.description %>
</p>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', pages_path %>
