<%= render 'elements/menu' %>
<%= render 'elements/calendar' %>

<div class="O_ProjectCompilation">

  <div class="M_ProjectOpening">

    <h1 class="A_ProjectHeader"><%= @project.head %></h1>

    <h2 class="A_ProjectLead"><%= @project.lead %></h2>

    <div class="A_ProjectAuthors">
      <div class="A_ProjectTag">
        <%= @project.tag %>
      </div>
      <p>
        <span id="opacity" ">Авторы:</span>
        <span id="green"><%= @project.author %></span>
      </p>
    </div>

    <div class="A_ProjectImage" id="image"> <%= image_tag @project.cover.url(:project) %></div>

    <p class="A_ProjectParagraph" id="right_M_ProjectModule">
    <%= @project.description %>
    </p>
    <!-- <p class="A_ProjectParagraph" id="right_M_ProjectModule">
      Очередной велосипед придумывать не хотелось, и тогда мы решили представить, о чем обычно не думают, в диджитал контексте. И тогда в голову стали приходить мысли об экзистенциальом, в часности пришло Завещание.
    </p> -->

  </div>

  <%= render "articletext/third" %>

<div class="O_ProjectLinkFooter">
<div class="A_ProjectButtonBlock">
  <a class="A_ProjectButton">
    SHARE
  </a>
</div>
  <div class="A_ProjectParagraph">
    ЧТО ДАЛЬШЕ?
  </div>
  <div class="M_ProjectHyperLink">
    <%= image_tag @project.cover.url(:project_footer_preview) %>
    <div class="A_ProjectTag"><%= @project.tag %></div>
    <div class="A_ProjectHeader">
      <% if @project.previewtext.present? %>
          <%= @project.head %> – <%= @project.previewtext %>
      <% else %>
          <%= @project.head %>
      <% end %>
    </div>
    <div class="A_ProjectAuthors"><%= @project.author %></div>
  </div>
  <div class="M_ProjectHyperLink">
      <%= image_tag @project.cover.url(:project_footer_preview) %>
      <div class="A_ProjectTag"><%= @project.tag %></div>
      <div class="A_ProjectHeader">
        <% if @project.previewtext.present? %>
            <%= @project.head %> – <%= @project.previewtext %>
        <% else %>
            <%= @project.head %>
        <% end %>
      </div>
    <div class="A_ProjectAuthors"><%= @project.author %></div>
  </div>
</div>

<%= render 'elements/footer' %>
