
<!-- <a href="#">Главная</a> -->
<%#= link_to 'Энциклопедия', articles_path %>
<%# <%?= link_to 'Проекты', projects_path %>
<%#= link_to 'О нас', about_index_path %>
<%#= link_to 'Сотрудничество', new_cooperation_path(@cooperation) %>


<div class="S_ADCCommunityCompilation">
  <div class="O_OurProjectsCompilationAbout">
     <h1 class="A_ADCCommunityPart">ADC</h1>

   <div class="M_LayoutDecorationsButtonAndPlus">
      <%= image_tag("M_LayoutDecorationsButtonAndPlus.png", :alt => "rss feed") %>
   </div>

   <h1 class="A_ADCCommunityPart">CO</h1>

  <h1 class="A_ADCCommunityPart">M</h1>

  <div class="M_LayoutDecorationsButtonAndPlus">
     <%= image_tag("A_LayoutDecorationDeepFaceBlackAbout.png", :alt => "rss feed") %>
  </div>

  <h1 class="A_ADCCommunityPart">MUNI</h1>

  <div class="M_LayoutDecorationsButtonAndPlus">
     <%= image_tag("M_LayoutDecorationsSwitchAndSearch.png", :alt => "rss feed") %>
  </div>

  <h1 class="A_ADCCommunityPart">TY</h1>

  <div class="A_AboutTextContainer">
  <p class="A_ADCCOmmunityText">We are design community who believe <br>in collaboration work between people, <br>inner soul in product and contribution <br> in the industry.</p>

    <div class="M_AboutButtonContainer">
  <div class="A_AboutLinks">
  <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hseadc/">INSTAGRAM</a>
  </div>


  <div class="A_AboutLinks">
  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/HSEDesign/">FACEBOOK</a>
  </div>

  <div class="A_LayoutDecorationSlide">
     <%= image_tag("A_LayoutDecorationSlide1.png", :alt => "rss feed") %>
  </div>

</div>
</div>

<br>

<div class="A_AboutWholeBackground">
 <%= image_tag("A_AboutWholeBackground.png", :alt => "rss feed") %>
</div>

    <h1 class="A_ADCCommunityPart2">PRO</h1>
    <div class="A_AboutArrows">
     <%= image_tag("A_AboutArrows.png", :alt => "rss feed") %>
    </div>
  <h1 class="A_ADCCommunityPart3">JECTS</h1>


<div class="M_AboutLinksCollaborationsContainer">
  <div class="M_AboutLinksCooperations1">
  <h1 class="A_OurProjectItem">RAMBLER</h1>
  <h1 class="A_OurProjectItem">MTS BANK</h1>
  <h1 class="A_OurProjectItem">MCS</h1>
  <h1 class="A_OurProjectItem">HSE ART GALLERY</h1>
  </div>

  <div class="M_AboutLinksCooperation2">
  <h1 class="A_OurProjectItem">SBERBANK</h1>
  <h1 class="A_OurProjectItem">LAPKA</h1>
  <h1 class="A_OurProjectItem">READYMAG</h1>
  <h1 class="A_OurProjectItem">BANG BANG EDUCATION</h1>
</div>
</div>


  </div>
</div>
